.rsidebar{
  position: fixed;
  top:0;
  left:0;
  right:0;
  height:64px;

  display:flex;
  flex-direction: row;

  align-items:center;

  background:#1e1e1e;                /* SOLID black */
  border-bottom:1px solid var(--soft-border);
  z-index:1000;
  padding:0 16px;
  box-sizing:border-box;
}




.rsidebar .assign{
  align-items:center;
  justify-content:center;
  display:flex;
  gap:40px;
}



@media (max-width: 600px){

  .rsidebar{
     height:50px;
  }

}

@media (max-width: 768px){

  .rsidebar{
     height:50px;
     top:0;
  }
}



